name: Django CI  

on:
  push:
    branches: [ "main" ]  
  pull_request:
    branches: [ "main" ]  

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-django psycopg2-binary
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
    - name: Lint with flake8
      run: |
        # E9, F63, F7, F82 - bular sintaksis qátelikleri (kod islemeydi)
        # Eger bular shıqsa, process toqtaydı.
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

        # Qalǵan stil qátelikleri (mısalı, qatar uzınlıǵı 120 belgiden kóp bolsa)
        # --exit-zero: Bul qátelikler ushın process toqtamasın (tek eskertiw).
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics

    - name: Run Tests
      env:
        SECRET_KEY: 'test_key'
        DEBUG: 'True'
        ALLOWED_HOSTS: '127.0.0.1,localhost'
        POSTGRES_DB: 'test_db'        
        POSTGRES_USER: 'postgres'    
        POSTGRES_PASSWORD: 'password' 
        DB_HOST: 'localhost'          
      run: |
        pytest